@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap'); 

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--main-font); 
   scroll-behavior: smooth;
}

:root {
   --back-color1: rgb(133, 88, 175); 
   --back-color2: rgb(109, 230, 135); 
   --button-color: rgb(87, 128, 190);  
   --button-hover: rgb(104, 216, 123); 
   --content-transparent: rgba(1, 7, 0, 0.507); 
   --content-transparent-white: rgba(255, 255, 255, 0.507); 
   --main-font: 'Red Hat Mono', monospace; 
}

::-webkit-scrollbar {
   background-color: var(--back-color1);
   width: 10px;
}
::-webkit-scrollbar-thumb {
   background-color: var(--content-transparent);
   border-radius: 50px;
}

/* this is for mozila */
::-moz-selection {
   background-color: var(--content-transparent);
}

::selection {
   background-color: var(--content-transparent);
   color: var(--back-color2);
}


body {
   background-image: linear-gradient(90deg, var(--back-color1), var(--back-color2));
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

header {
   font-weight: bolder;
   display: flex;
   align-items: center;
   color: white;
   padding: 10px;
   background-color: var(--content-transparent);
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(740deg);
   }
}

header img {
   animation: rotation 6s infinite alternate;
   width: 50px;
   margin-right: 10px;
   transition: all 1s ease-out;
}
header img:hover {
   transition: all 1.5s ease-in-out;
   animation: rotation .2s infinite;
   filter: drop-shadow(0 0 5px var(--back-color1)) blur(1px);
}

main {
   width: auto;
   display: flex;
   flex-wrap: wrap;
   padding: 20px;
   margin: 20px;
   gap: 10px;
}

main article {
   padding: 20px;
   background-color: var(--content-transparent);
   height: auto;
   max-height: 450px;
   max-width: 450px;
   color: white;
   transition: all .4s ease-in-out;
   overflow-y: hidden;
}

main article #title{
   font-size: 1.5em;
   border-bottom: 1px solid;
   margin-bottom: 25px;
   height: 15%;
   max-height: 30%;
   overflow: hidden;
   font-weight: 600;
}

main article textarea{
   font-size: 1em;
   width: 100%;
   background-color: transparent;
   border: none;
   height: calc(100% - 100px);
   color: white;
   outline: none;
   resize: none;
}

main article.contraste {
   background-color: var(--content-transparent-white);
   color: black;
   font-weight: bold;
   transition: all .4s ease-in-out;
}

#float-button {
   margin: auto;
   width: 200px;
   height: 200px;
   display: flex;
   align-items: center;
   border-radius: 50px 10px;
   background-color: var(--content-transparent);
   transition: all 1s ease-in-out;
}

#float-button p {
   margin: auto;
}

#float-button:hover {
   border-radius: 10px 50px;
   width: 100px;
   height: 100px;
   color: white;
   font-size: 3em;
   background: var(--button-hover);
   transition: all 1s ease-in-out;
   transform: rotate(360deg);
   border: 10px solid var(--content-transparent);
}

footer {
   width: 100%;
   font-size: 1em;
   height: auto;
   color: white;
   background-color: var(--content-transparent);
   align-self: flex-end;
   align-items: center;
   display: flex;
   padding: 20px 10px; 

   transition: all .5s ease-in-out;
}

footer a {
   transition: all .5s ease-in-out;
   text-decoration: none;
   color: white;
   font-weight: bold;
   text-shadow: 0 0 4px var(--back-color2);
   padding: 20px 0;
}

#im:hover {
   transition: all .5s ease-in-out;
   font-size: 1.2em;
   text-shadow: 0 0 10px var(--content-transparent);
   color: var(--back-color2);
}

#im:hover::after {
   content: "< Meu Linkedin ^_^";
   margin-left: 10px;
}
